# Postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stemma

# Backend
BACKEND_PORT=8008
LOG_LEVEL=DEBUG
ALLOWED_ORIGINS=""
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/stemma
PASSWORD_PEPPER="" # Use : openssl rand -base64 32 | tr -d '=+/'

# Web
WEB_PORT=3030